nav{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > div{
    width: 1200px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 20px;
    color: black;
    font-family: "Poppins"
}
nav img{
    width: 220px;
    height: 19px;
}
nav > div > div{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 569px;
}
p{
    color: black;
}