.background5{
    background-image: url('./Themarblestaircase-assets/IMAGE.png');
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
}
.background5 > div{
    padding-right: 75px;
    width: 285px;
}